<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/urbaneats.ico" alt="Logo">
        <div>Barra de búsqueda</div>
        <nav>
            <ul>
                <li>Menú</li>
                <li>Pedir</li>
                <li>Quienes somos</li>
            </ul>
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </nav>
        <div>Lugar carrito de compras</div>
    </header>
    <main>
        <section>
            <h2>Lo favorito de la gente</h2>
            <article>
                <img src="/images/humita-946-x-568-700x420.jpg" width="300" alt="Humita">
                <p>$2000 por 10</p>
                <p>15% off</p>
                <p>Humita</p>
            </article>
            <article>
                <img src="/images/239857.jpg" width="300" alt="Empanadas">
                <p>$1500 por docena</p>
                <p>20% off</p>
                <p>Empanadas</p>
            </article>
            <article>
                <img src="/images/locro-946-x-568-700x420.jpg" width="300" alt="Locro">
                <p>$1100</p>
                <p>20% off</p>
                <p>Locro</p>
            </article>
        </section>
        <section>
            <h2>Lo mejor de la casa</h2>
            <article>
                <img src="/images/1508255189526.jpg" width="300" alt="Tamales">
                <p>$2000 por 10</p>
                <p>15% off</p>
                <p>Tamales</p>
            </article>
            <article>
                <img src="/images/carne-de-llama-946-x-568-700x420.jpg" width="300" alt="Carne de Llama">
                <p>$1500 por docena</p>
                <p>20% off</p>
                <p>Carne de Llama</p>
            </article>
            <article>
                <img src="/images/paso_a_paso_para_realizar_guiso_de_lentejas.jpg" width="300" alt="Guiso de Lentejas">
                <p>$1100</p>
                <p>20% off</p>
                <p>Guiso de Lentejas</p>
            </article>
        </section>
        <section>
            <h2>También puede interesarte</h2>
            <article>
                <img src="/images/GASTRONOMIA-700-X-420.jpg" width="300" alt="gastronomia">
                <p>$2000 por 10</p>
                <p>15% off</p>
                <p>?</p>
            </article>
            <article>
                <img src="/images/20220102-Gastronomia-2.jpg" width="300" alt="gastronomia 2">
                <p>$1500 por docena</p>
                <p>20% off</p>
                <p>2?</p>
            </article>
            <article>
                <img src="/images/tamales-946-x-568-700x420.jpg" width="300" alt="tamal?">
                <p>$1100</p>
                <p>20% off</p>
                <p>tamal?</p>
            </article>
        </section>
    </main>
    <footer>
        <p>Siguenos en nuestras redes sociales</p>
        <nav>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twiter</li>
                <li>no se me ocurre</li>
            </ul>
        </nav>
        <p>Envíanos tu comentario</p>
        <nav>
            <ul>
                <li>Whatsapp</li>
                <li>Correo Electrónico</li>
            </ul>
        </nav>
        <p>Para más info de Jujuy</p>
        <p>url del gobierno de jujuy</p>
    </footer>
</body>
</html>