<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/urbaneats.ico" alt="Logo">
        <div>Barra de búsqueda</div>
        <nav>
            <ul>
                <li>Menú</li>
                <li>Pedir</li>
                <li>Quienes somos</li>
            </ul>
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </nav>
        <div>Lugar carrito de compras</div>
    </header>
    <main>
        <h2>Lo favorito de la gente</h2>
        <article>
            <img src="" alt="">
            <p>producto1</p>
        </article>
        <article>
            <img src="" alt="">
            <p>producto2</p>
        </article>
        <article>
            <img src="" alt="">
            <p>producto3</p>
        </article>
        <article>
            <img src="" alt="">
            <p>producto4</p>
        </article>
    </main>
    <footer>
        <p>Siguenos en nuestras redes sociales</p>
        <nav>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twiter</li>
                <li>no se me ocurre</li>
            </ul>
        </nav>
        <p>Envíanos tu comentario</p>
        <nav>
            <ul>
                <li>Whatsapp</li>
                <li>Correo Electrónico</li>
            </ul>
        </nav>
        <p>Para más info de Jujuy</p>
        <p>url del gobierno de jujuy</p>
    </footer>
</body>
</html>