<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats Jujuy - Formulario de registro</title>
</head>
<body>
    <header>
        <figure>
            <img src="" alt="logo de la tienda">
        </figure>
        <form action="/">
            <input type="text" placeholder="Buscar">
        </form>
        <nav>
            <ul>
                <li><a href="#">Menú</a></li>
                <li><a href="#">Pedir</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Acerca de Nosotros</a></li>
            </ul>
            <!--Aquí irán los iconos-->
            <div></div>
        </nav>
    </header>
    <main>
        <h1>Creá tu cuenta</h1>
        <form action="/">
            <input type="text" placeholder="Nombre de Pila">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Correo Electrónico">
            <input type="text" placeholder="Contraseña">
            <button type="submit">Empezá a ordenar</button>
        </form>
    </main>
    <footer>
        <h2>Seguinos en nuestras redes sociales</h2>
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank">Github</a></li>
        </ul>
        <p>&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </footer>
</body>
</html>