<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
        <title>UrbanEats Jujuy</title>
        <link rel="stylesheet" href="/styles/stylesHome.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>