<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <title>Formulario de edicion o creacion de producto</title>
    <link rel="stylesheet" href="/styles/formulario-edicion.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <h2 class="title">Formulario de edició de producto</h2>
            <form action="" method="">
                <input type="text" id="name" name="name" placeholder="Nombre del producto" class="form-input">
                <input type="text" id="price" name="price" placeholder="Precio del producto" class="form-input">
                <label for="color" class="color-label">Color:</label>
                <input type="color" id="color" name="color" placeholder="Colores" class="button2 especial">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">En oferta</option>
                    <option value="visited">Últimos agregados</option>
                </select>
                <textarea name="description" id="description" class="form-input"
                    placeholder="Descripcion del producto"></textarea>
                <button type="submit" class="button1">Guardar producto</button>
            </form>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>