<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de creacion</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/formulario-creacion.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <h2 class="title">Formulario de creación de productos</h2>
            <form action="" method="POST">
                <input type="text" id="name" name="name" placeholder="Nombre del producto" class="form-input">
                <input type="text" id="price" name="price" placeholder="Precio del producto" class="form-input">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">Desayuno</option>
                    <option value="visited">Plato principal</option>
                </select>
                <textarea name="description" id="description" class="form-input"
                    placeholder="Descripcion del producto"></textarea>
                <button type="submit" class="buy-now-button">Guardar producto</button>
            </form>
        </main>
</body>

</html>