<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats Jujuy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/stylesHome.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h2>Lo favorito de la gente</h2>
                <div class="productos">
                    <article>
                        <img src="/images/humita-946-x-568-700x420.jpg" alt="Humita">
                        <div class="descripcion">
                            <p class="precio">$2000 por 10</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Humita</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/239857.jpg" alt="Empanadas">
                        <div class="descripcion">
                            <p class="precio">$1500 por docena</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Empanadas de Pollo / Carne</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/locro-946-x-568-700x420.jpg" alt="Locro">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Locro</p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2>Lo mejor de la casa</h2>
                <div class="productos">
                    <article>
                        <img src="/images/1508255189526.jpg" alt="Tamales">
                        <div class="descripcion">
                            <p class="precio">$3500 la docena</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Tamales</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/carne-de-llama-946-x-568-700x420.jpg" alt="Carne de Llama">
                        <div class="descripcion">
                            <p class="precio">$1500 por docena</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Carne de Llama</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/paso_a_paso_para_realizar_guiso_de_lentejas.jpg" alt="Guiso de Lentejas">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Guiso de Lentejas</p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2>También puede interesarte</h2>
                <div class="productos">
                    <article>
                        <img src="/images/GASTRONOMIA-700-X-420.jpg" alt="gastronomia">
                        <div class="descripcion">
                            <p class="precio">$2000 por 10</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Combo Tamales / Empanadas + Plato de Locro</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/20220102-Gastronomia-2.jpg" alt="gastronomia 2">
                        <div class="descripcion">
                            <p class="precio">$1500/Plato</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Locro</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/tamales-946-x-568-700x420.jpg" alt="tamal?">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Tamales</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <p>Seguinos en nuestras redes sociales</p>
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                                class="fa-brands fa-github"></i> Github</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i> Twiter</a></li>
                </ul>
            </nav>
            <p>Envíanos tu comentario</p>
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                    <li><a href="#"><i class="fa-regular fa-envelope"></i> Correo Electrónico</a></li>
                </ul>
            </nav>
            <p>Para más info de Jujuy</p>
            <p>url del gobierno de jujuy</p>
            <p>© 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
        </footer>
</body>

</html>