<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats Jujuy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <section>
            <h2>Lo favorito de la gente</h2>
            <article>
                <img src="/images/humita-946-x-568-700x420.jpg" width="300" alt="Humita">
                <p>$2000 por 10</p>
                <p>15% off</p>
                <p>Humita</p>
            </article>
            <article>
                <img src="/images/239857.jpg" width="300" alt="Empanadas">
                <p>$1500 por docena</p>
                <p>20% off</p>
                <p>Empanadas de Pollo/Carne</p>
            </article>
            <article>
                <img src="/images/locro-946-x-568-700x420.jpg" width="300" alt="Locro">
                <p>$1100</p>
                <p>20% off</p>
                <p>Locro</p>
            </article>
        </section>
        <section>
            <h2>Lo mejor de la casa</h2>
            <article>
                <img src="/images/1508255189526.jpg" width="300" alt="Tamales">
                <p>$3500 la docena</p>
                <p>15% off</p>
                <p>Tamales</p>
            </article>
            <article>
                <img src="/images/carne-de-llama-946-x-568-700x420.jpg" width="300" alt="Carne de Llama">
                <p>$1500 por docena</p>
                <p>20% off</p>
                <p>Carne de Llama</p>
            </article>
            <article>
                <img src="/images/paso_a_paso_para_realizar_guiso_de_lentejas.jpg" width="300" alt="Guiso de Lentejas">
                <p>$1100</p>
                <p>20% off</p>
                <p>Guiso de Lentejas</p>
            </article>
        </section>
        <section>
            <h2>También puede interesarte</h2>
            <article>
                <img src="/images/GASTRONOMIA-700-X-420.jpg" width="300" alt="gastronomia">
                <p>$2000 por 10</p>
                <p>15% off</p>
                <p>Combo Tamales/Empanadas + Plato de Locro</p>
            </article>
            <article>
                <img src="/images/20220102-Gastronomia-2.jpg" width="300" alt="gastronomia 2">
                <p>$1500/Plato</p>
                <p>20% off</p>
                <p>Locro</p>
            </article>
            <article>
                <img src="/images/tamales-946-x-568-700x420.jpg" width="300" alt="tamal?">
                <p>$1100</p>
                <p>20% off</p>
                <p>Tamales</p>
            </article>
        </section>
    </main>
    <footer>
        <p>Seguinos en nuestras redes sociales</p>
        <nav>
            <ul>
                <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                            class="fa-brands fa-github"></i> Github</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i> Twiter</a></li>
            </ul>
        </nav>
        <p>Envíanos tu comentario</p>
        <nav>
            <ul>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i> Correo Electrónico</a></li>
            </ul>
        </nav>
        <p>Para más info de Jujuy</p>
        <p>url del gobierno de jujuy</p>
        <p>© 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </footer>
</body>

</html>