<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <title>UrbanEats Jujuy</title>
    <link rel="stylesheet" href="/styles/stylesHome.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h2>Lo favorito de la gente</h2>
                <div class="productos">
                    <article>
                        <img src="/images/products/humitas.jpg" alt="Humita">
                        <div class="descripcion">
                            <p class="precio">$2000 por 10</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Humita</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/empanadas.jpg" alt="Empanadas">
                        <div class="descripcion">
                            <p class="precio">$1500 por docena</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Empanadas de Pollo / Carne</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/locro.jpg" alt="Locro">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Locro</p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2>Lo mejor de la casa</h2>
                <div class="productos">
                    <article>
                        <img src="/images/products/tamales.jpg" alt="Tamales">
                        <div class="descripcion">
                            <p class="precio">$3500 la docena</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Tamales</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/carne-llama.jpg" alt="Carne de Llama">
                        <div class="descripcion">
                            <p class="precio">$1500 por docena</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Carne de Llama</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/guiso-lentejas.jpg" height="100px" alt="Guiso de Lentejas">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Guiso de Lentejas</p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h2>También puede interesarte</h2>
                <div class="productos">
                    <article>
                        <img src="/images/products/combo.jpg" alt="gastronomia">
                        <div class="descripcion">
                            <p class="precio">$2000 por 10</p>
                            <p class="oferta">15% off</p>
                            <p class="nombre">Combo Tamales / Empanadas + Plato de Locro</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/locro.jpg" alt="gastronomia 2">
                        <div class="descripcion">
                            <p class="precio">$1500/Plato</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Locro</p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/products/tamales.jpg" alt="tamal?">
                        <div class="descripcion">
                            <p class="precio">$1100</p>
                            <p class="oferta">20% off</p>
                            <p class="nombre">Tamales</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
</body>

</html>