<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <title>UrbanEats Jujuy - Inicio de sesión</title>
    <link rel="stylesheet" href="/styles/loginStyle.css">
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <h1>Iniciá Sesion</h1>
        <form action="/usuario/login" method="POST">
            <input type="email" placeholder="CORREO ELECTRONICO" name="email">
            <input type="password" placeholder="CONTRASEÑA" name="password">
            <button type="submit">Empezá a ordenar</button>
        </form>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>