<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats Jujuy - Inicio de sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/loginStyle.css">
    <link rel="icon" href="images/urbaneats.ico" type="image/x-icon">
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <h1>Iniciá Sesion</h1>
        <form action="">
            <input type="email" placeholder="CORREO ELECTRONICO">
            <input type="password" placeholder="CONTRASEÑA">
            <button type="submit">Empezá a ordenar</button>
        </form>
    </main>
    <footer>
        <h2>Seguinos en nuestras redes sociales</h2>
        <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                        class="fa-brands fa-github"></i> Github</a></li>
        </ul>
        <p>&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </footer>
</body>

</html>