<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats Jujuy - Inicio de sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/stylesRegister.css">
    <link rel="icon" href="images/urbaneats.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container-header">
            <figure>
                <img src="images/urbaneats.svg" alt="logo de la tienda">
            </figure>
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="barra-busqueda">
                <form action="/">
                    <input type="text" placeholder="Buscar">
                </form>
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#">Menú</a></li>
                    <li><a href="#">Pedir</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Acerca de Nosotros</a></li>
                </ul>
                <div>
                    <div class="user-icon">
                        <i class="fa-regular fa-circle-user"></i>
                    </div>
                    <div class="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <h1>Iniciá Sesion</h1>
        <form action="">
            <input type="email" placeholder="Correo Electrónico">
            <input type="password" placeholder="Contraseña">
            <button type="submit">Empezá a ordenar</button>
        </form>
    </main>
    <footer>
        <h2>Seguinos en nuestras redes sociales</h2>
        <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                        class="fa-brands fa-github"></i> Github</a></li>
        </ul>
        <p>&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </footer>
</body>

</html>