<!DOCTYPE html>
<html lang="en">
<head>
    <title>Compra Exitosa</title>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/styles/ordenLista.css">
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container">
        <h1>Compra Exitosa</h1>
        <p>Su compra se ha realizado correctamente.</p>

        <a href="/" class="button">Volver a la Home</a>
    </div>

    
    <%- include('./partials/footer') %>
</body>
</html>