<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats - Jujuy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="images/urbaneats.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <%- include('./partials/header')%>
        <main>
            <section>
                <h1>Humita</h1>
                <div class="producto-principal">
                    <figure class="principal">
                        <img src="/images/humita-946-x-568-700x420.jpg" alt="Producto">
                    </figure>
                    <div class="detalles">
                        <div class="botones">
                            <button>Lo quiero ya!!!</button>
                            <button>Agregar al carrito</button>
                        </div>
                        <p class="descripcion">Que linda humita , clásica de los jujeños , disfruten</p>
                        <p class="precio">$1200</p>
                    </div>
                </div>
            </section>
            <section>
                <h2>Relacionado</h2>
                <div class="producto-secundario">
                    <div>
                        <img src="/images/paso_a_paso_para_realizar_guiso_de_lentejas.jpg" alt="producto-1">
                    </div>
                    <div>
                        <img src="/images/20220102-Gastronomia-2.jpg" alt="producto-2">
                    </div>
                    <div>
                        <img src="/images/239857.jpg" alt="producto-3">
                    </div>
                    <div>
                        <img src="/images/carne-de-llama-946-x-568-700x420.jpg" alt="producto-4">
                    </div>
                </div>
            </section>
            <section>
                <h2>Recomendados</h2>
                <div class="producto-secundario">
                    <div>
                        <img src="/images/paso_a_paso_para_realizar_guiso_de_lentejas.jpg" alt="producto-1">
                    </div>
                    <div>
                        <img src="/images/20220102-Gastronomia-2.jpg" alt="producto-2">
                    </div>
                    <div>
                        <img src="/images/239857.jpg" alt="producto-3">
                    </div>
                    <div>
                        <img src="/images/carne-de-llama-946-x-568-700x420.jpg" alt="producto-4">
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <h2>Seguinos en nuestras redes sociales</h2>
            <ul>
                <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                            class="fa-brands fa-github"></i> Github</a></li>
            </ul>
            <p>&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
        </footer>
</body>

</html>