<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanEats - Carrito de Compras</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/stylesHome.css">
</head>
<body>
    <header>
        <img src="/images/urbaneats.ico" alt="Logo">
        <div class="barra-busqueda">
            <form action="/">
                <input type="text" placeholder="Buscar">
            </form>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Menú <i class="fa-solid fa-ellipsis"></i></a></li>
                <li><a href="#">Pedir</a></li>
                <li><a href="#">Quienes somos <i class="fa-solid fa-question"></i></a></li>
            </ul>
            <ul>
                <li><a href="#">Login</a></li>
                <div class="login-icon">
                    <i class="fa-solid fa-right-to-bracket"></i> 
                </div>
                <li><a href="#">Register</a></li>
                <div class="user-icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
            </ul>
        </nav>
        <p>Carrito de compras</p>
        <div class="cart-icon">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <p>Ubicacion</p>
        <div class="location-dot">
            <p><i class="fa-solid fa-location-dot"></i> nombre del lugar</p>
        </div>
    </header>
    <main>
        <section>
            <article>
                <img src="/images/locro-946-x-568-700x420.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
            <article>
                <img src="/images/locro-946-x-568-700x420.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
            <article>
                <img src="/images/locro-946-x-568-700x420.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
        </section>
        <div>
            <p>.</p>
        </div>
        <div>
            <p>.</p>
        </div>
        <section>
            <p><i class="fa-solid fa-truck-fast"></i> Envío: 1000</p>
            <p><i class="fa-solid fa-bowl-food"></i> Productos: 123456</p>
            <p>Total: 124456</p>
            <button>Comprar Ahora</button>
        </section>
    </main>
    <footer>
        <p>Seguinos en nuestras redes sociales</p>
        <nav>
            <ul>
                <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i class="fa-brands fa-github"></i> Github</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i> Twiter</a></li>
            </ul>
        </nav>
        <p>Envíanos tu comentario</p>
        <nav>
            <ul>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i> Correo Electrónico</a></li>
            </ul>
        </nav>
        <p>Para más info de Jujuy</p>
        <p>url del gobierno de jujuy</p>
        <p>© 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </footer>
</body>
</html>