<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head')%>
    <title>UrbanEats - Carrito de Compras</title>
    <link rel="stylesheet" href="/styles/stylesHome.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <section>
            <article>
                <img src="/images/products/locro.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
            <article>
                <img src="/images/products/locro.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
            <article>
                <img src="/images/products/locro.jpg" width="150" alt="Locro">
                <strong>
                    <button>Eliminar <i class="fa-solid fa-xmark"></i></button>
                </strong>
                <p>Locro</p>
                <p>$2000</p>
                <strong>Cantidad de productos</strong>
                <input type="number">
            </article>
        </section>
        <div>
            <p>.</p>
        </div>
        <div>
            <p>.</p>
        </div>
        <section>
            <p><i class="fa-solid fa-truck-fast"></i> Envío: 1000</p>
            <p><i class="fa-solid fa-bowl-food"></i> Productos: 123456</p>
            <p>Total: 124456</p>
            <button>Comprar Ahora</button>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>