<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/quienesSomos.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="texto-principal">
        <p>"¡Bienvenido a UrbanEats Jujuy! Somos tu destino en línea para descubrir y disfrutar de la auténtica comida jujeña. Nos enorgullece presentar una cuidadosa selección de productos culinarios tradicionales de la hermosa provincia de Jujuy, Argentina. En UrbanEats Jujuy, te invitamos a explorar una amplia variedad de sabores regionales que capturan la esencia y riqueza gastronómica de Jujuy. Desde las tradicionales empanadas jujeñas, pasando por los deliciosos tamales y humitas, hasta las exquisitas especialidades de la Quebrada y la Puna, nuestra tienda en línea ofrece una experiencia culinaria única.
    
            Nuestra página está dirigida a los amantes de la comida regional, aventureros gastronómicos y personas interesadas en explorar y disfrutar de la auténtica cocina jujeña. Nos enfocamos en aquellos que valoran los productos locales, la autenticidad y la conexión con las tradiciones culinarias de la región.</p>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>