<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head')%>
    <title>UrbanEats Jujuy - Formulario de registro</title>
    <link rel="stylesheet" href="/styles/stylesRegister.css">
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <h1 class="titulo">Crea tu cuenta</h1>
        <form action="/usuario/register" method="POST" class="form-container">
            <input type="text" placeholder="Nombre de Pila">
            <input type="text" placeholder="Apellido">
            <input type="email" placeholder="Correo Electrónico">
            <input type="password" placeholder="Contraseña">
            <button type="submit" class="btn">Empezar a ordenar</button>
        </form>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>