<!DOCTYPE html>
<html lang="es">

<head>
    <title>Perfil de usuario</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="row">
                <div class="col-md-3">
                    <h1>Hola <%= usuario.first_name + ' ' + usuario.last_name %></h1>
                </div>
            </div>
        </main>
</body>