<!DOCTYPE html>
<html lang="es">
<head>
    <title>Perfil de usuario</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Funciona correctamente</h1>
    </main>
</body>