<footer>
    <h2 class="title-footer">Seguinos en nuestras redes sociales:</h2>
    <ul class="list-footer">
        <li class="item-footer"><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        <li class="item-footer"><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
        <li class="item-footer"><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                    class="fa-brands fa-github"></i> Github</a></li>
    </ul>
    <p class="copy-footer">&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
</footer>