<footer>
    <h2>Seguinos en nuestras redes sociales</h2>
    <ul>
        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
        <li><a href="https://github.com/joelcito123/grupo_5_definitivo" target="_blank"><i
                    class="fa-brands fa-github"></i> Github</a></li>
    </ul>
    <p>&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
</footer>