<footer>
    <div class="contenedor-footer">
        <p class="title-footer">Seguinos en nuestras redes sociales:</p>
        <ul class="list-footer">
            <li class="item-footer"><a href="#" class="transicion"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            <li class="item-footer"><a href="#" class="transicion"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li class="item-footer"><a href="https://github.com/joelcito123/grupo_5_definitivo" class="transicion"><i class="fa-brands fa-github"></i> GitHub</a></li>
        </ul>
        <p class="copy-footer">&copy; 2023 UrbanEats Jujuy - Todos los derechos reservados</p>
    </div>
</footer>