<header>
    <div class="container-header">
        <figure class="logo-container">
            <a href="/" class="link-header"><p class="newlogo">UrbanEats</p></a>
        </figure>
        <div class="barras">
            <i class="fa-solid fa-bars bars"></i>
        </div>
        <nav class="secciones-pagina">
            <ul class="menu">
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="/products">Todos los productos</a></li>
                <li><a href="/products/create">Vender</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Iniciar sesión</a></li>
            </ul>
        </nav>
            <div class="seccion-carrito">
                <i class="fa-solid fa-cart-shopping cart"></i>
            </div>

            <form action="/products/buscar" method="GET" class="seccion-buscar">
                <input type="text" name="buscar" id="buscar" class="input-buscar">
                <button type="submit" class="boton-buscar"><i class="fas fa-search icono-buscar"></i></button>
            </form>
    </div>
</header>