<header>
    <div class="container-header">
        <figure class="logo-container">
            <img src="images/urbaneats.svg" alt="logo de la tienda">
        </figure>
        <div class="bars-cnt">
            <i class="fa-solid fa-bars bars"></i>
        </div>
        <div class="barra-busqueda">
            <form action="/" class="inpt-busqueda">
                <input type="text" placeholder="Buscar" class="inpt-buscar">
            </form>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass search"></i>
            </div>
        </div>
        <nav class="nav-container">
            <ul class="menu">
                <li><a href="#">Menú</a></li>
                <li><a href="#">Pedir</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Acerca de Nosotros</a></li>
            </ul>
            <div class="iconos">
                <div class="user-icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </div>
            </div>
        </nav>
        
    </div>
</header>