<header>
    <div class="container-header">
        <figure class="logo-container">
            <a href="/"><img src="/images/urbaneats.svg" alt="logo de la tienda" class="logo"></a>
        </figure>
        <div class="bars-cnt">
            <i class="fa-solid fa-bars bars"></i>
        </div>
        <nav class="nav-container">
            <ul class="menu">
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="/products">Todos los productos</a></li>
                <li><a href="/user/register">Registrarse</a></li>
                <li><a href="/user/login">Iniciar sesión</a></li>
            </ul>
            <div class="iconos">
                <div class="user-icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </div>
            </div>
        </nav>
    </div>
</header>