<header>
    <div class="container-header">
        <figure>
            <img src="images/urbaneats.svg" alt="logo de la tienda">
        </figure>
        <div class="bars">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="barra-busqueda">
            <form action="/">
                <input type="text" placeholder="Buscar">
            </form>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Menú</a></li>
                <li><a href="#">Pedir</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Acerca de Nosotros</a></li>
            </ul>
            <div>
                <div class="user-icon">
                    <i class="fa-regular fa-circle-user"></i>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </nav>
    </div>
</header>