* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/*elementos que no se mostraran por ahora*/
.newlogo,
.menu,
.boton-buscar {
    display: none;
}

/* Fin*/

header {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}

.logo-container {
    margin: 0px;
}

.newlogo {
    margin: 0px
}

.menu {
    margin: 0px;
}

.barras {
    order: 0;
    width: 10%;
    text-align: center;
    font-size: 25px;
    margin: auto;
    color: #696969;
}

.link-header {
    text-decoration: none;
    color: inherit;
}

.seccion-carrito {
    order: 10;
    width: 10%;
    margin: auto;
    font-size: 25px;
    color: #696969;
}

/*Estilos de la barra de busqueda*/
.seccion-buscar {
    order: 5;
    width: 80%;
    display: flex;
    justify-content: center;
}

.input-buscar {
    width: 90%;
    height: 35px;
    border-radius: 20px;
    border: solid #cdcdcd 1.6px;
    padding-left: 15px;
    padding-right: 15px;
}

.transicion {
    transition: color 250ms 250ms;
}

.input-buscar:focus {
    outline: none;
    border-color: #5e9eff;
}

.transicion:hover {
    color: salmon
}

/*Fin estilos de la barra de busqueda*/

/*estilos sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    transition: 0.4s;
    padding-top: 60px;
    z-index: 1000;
}

.close-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px; /* Agrega margen inferior para separar del resto de la lista */
    color: #333;
}

.profile-section {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f2f2f2;
}

.profile-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Para hacer la imagen redonda */
    margin-right: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info p {
    margin: 0;
    font-weight: bold;
}

.profile-info span {
    font-size: 12px;
    color: #888;
}

.span-sidebar {
    padding: 0 20px;
    font-size: 16px;
}

/* Estilos para el icono de cierre */
.close-icon {
    font-size: 24px;/* Añade margen derecho entre el icono y el texto */
    color: #333; 
    margin-right: 5px;
}

/* Estilos adicionales para mejorar el diseño del botón de cierre */
.close-button:hover {
    color: #555;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.show-sidebar {
    left: 0;
}


@media (min-width: 992px) {

    /*elementos que no se mostraran*/
    .barras,
    .seccion-carrito {
        display: none;
    }

    .container-header {
        align-items: center;
    }

    /*elementos que se mostraran*/
    .newlogo,
    .menu,
    .boton-buscar {
        display: block;
    }

    /*Secciones*/

    /*Seccion logo*/
    .logo-container {
        width: 18%;
        text-align: center;
    }

    .newlogo {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }

    /*fin seccion logo*/

    /*secciones de pagina*/
    .secciones-pagina {
        width: 55%;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    /*fin secciones de pagina*/

    .seccion-buscar {
        width: 25%;
        position: relative;
    }

    .input-buscar {
        width: 99%;
        padding-right: 27px;
    }

    .boton-buscar {
        width: 1%;
        background-color: transparent;
        border: none;
    }

    .icono-buscar {
        position: relative;
        right: 30px;
        border-left: solid #cdcdcd 1.5px;
        padding-left: 6px;
        color: #696969;
    }

    .menu {
        padding-right: 7px;
    }

    .menu li {
        list-style-type: none;
    }

    .menu li a {
        text-decoration: none;
        color: #696969;
    }
}