* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Aplicando CSS al main*/

main {
    background-color: #EAEAEA;
    max-width: 400px;
    height: 470px;
    text-align: center;
    margin: 20px auto;
    padding-top: 15px;
    border-radius: 15px;
}

main h1 {
    margin-bottom: 20px;
}

main form {
    text-align: center;
}

main form input{
    display: block;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    background-color: #aeacac;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-decoration-color: black;
}

button {
    border-radius: 5px;
    border: none;
    background-color: #aeacac;
    cursor: pointer;
    width: 40%;
    height: 30px;
    text-align: center;
}
/*Aplicando CSS al footer*/

footer {
    background-color: #333333;
    color: #fff;
    ;
}