* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Aplicando CSS al main*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 79.5vh;
    text-align: center;
    /*max-width: 400px;
    height: 470px;
    text-align: center;
    margin: 20px auto;
    padding-top: 15px;
    border-radius: 15px;*/
}

main h1 {
    padding: 20px;
}

form.form-padre {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
 }
 
 .row {
    width: 100%;
    display: flex;
    justify-content: center;
    
 }

 .col-md-6.my-2 {
    width: 50%;
 }

main form input{
    display: block;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.col-12.my-3 {
    padding: 20px;
 }

button {
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    cursor: pointer;
    width: 40%;
    height: 30px;
    text-align: center;
    color: white;
}
/*Aplicando CSS al footer*/
/*
footer {
    background-color: #333333;
    color: #fff;
    ;
}*/