* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bars {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    background-color: #333333;
}

ul {
    list-style-type: none;
}

img {
    width: 75%;;
}

/*Aplicando CSS al header*/

header {
    background-color: #EAEAEA;
}

header div.container-header,
header div nav.menu,
header div nav.menu ul,
header div nav.menu div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header div figure {
    width: 13%;
}

header div figure img {
    width: 100%;
}

header div div.barra-busqueda {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 97px;
    bottom: 2px;
    color: #aeacac;
}

header div div.barra-busqueda form {
    width: auto;
}

header div div.barra-busqueda form input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 70%;
}

header div nav.menu ul li {
    margin-left: 10px;
}

/*Aplicando CSS al main*/

main section.pr1 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.principal {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal img {
    width: 95%;
    height: 95%;
}

.detalles {
    width: 50%;
    padding: 5px;
}

/*Aplicando CSS al footer*/

footer {
    background-color: #333333;
    color: #fff;
}