/*Main*/


main {
    margin: 20px;
    min-height: 72.5vh;
}

.contenedor-articulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title,
.subtitle {
    margin: 10px;
}

.contenedor-producto {
    margin: 10px;
    font-size: 50%;
}



.imagen-producto {
    width: 100%;
    height: 100%;
}

.contenedor-contenido {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.contenedor-descripcion {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contenedor-precio {
    display: flex;
    flex-direction: column;
}

.descripcion {
    border: 1px solid black;
    padding: 10px;
    margin: 0px
}

.contenedor-boton button
{
    display: none;
}

.contenedor-precio {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.titulo-precio,
.titulo-descripcion {
    margin: 5px;
}

.contenedor-boton {
    display: flex;
    justify-content: space-around;
}

.contenedor-manipular {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.contenedor-editar,
.contenedor-eliminar {
    width: 48%;
}

.boton-editar,
.boton-eliminar {
    width: 100%;
}

.contenedor-boton button {
    width: 45%;
}

/*Media Queries*/
@media (min-width: 369px) {
    .contenedor-producto {
        width: 90%;
        font-size: 50%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 300px;
        border: 1px solid black;
    }
}

@media (min-width: 769px) {
    .contenedor-producto {
        width: 60%;
        font-size: 80%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 380px;
        border: 1px solid black;
    }
}

@media (min-width: 1150px) {
    .contenedor-producto {
        width: 40%;
        font-size: 100%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 420px;
        border: 1px solid black;
    }
}

/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: purple;
}
/*Aplicando CSS al main

main{
    background-color: purple; 
    width: 80vw;
    margin: 0 auto;
}

img{
    width: 100%;
}
h1{
    text-align: center;
    padding: 20px;
}

div.producto-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.producto-principal figure img{
    border: 1px solid black;
}
div.detalles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255, 0, 179, 0.486);
}

div.botones{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
div.botones button{
    width: 40%;
    color: white;
    background-color: rgba(255, 0, 179, 0.486);
    border: 1px solid black;
}
p.descripcion{
    padding: 5px;
    color: white;
}
p.precio{
    padding: 5px;
    color: white;
}

div.producto-secundario{
    display: flex;
    flex-direction: column;
}

div.producto-secundario figure{
    margin: 20px;
}


div.producto-secundario figure img{
    border: 1px solid black;
}

@media(min-width: 361px){
    /*Main CSS
    div.producto-secundario{
        flex-wrap: wrap;
        flex-direction: row;
    }
    div.producto-secundario img{
        width: 43%;
    }
}*/