/*Main*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagen-producto {
    width: 100%;
    height: 100%;
}

.contenedor-imagen {
    margin: 0px
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 76.8vh;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
}

.contenedor-articulos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    margin: 5px
}

.enlace-producto {
    text-decoration: none;
}

.contenedor-descripcion {
    background-color: #f2f1f1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.nombre,
.precio {
    width: 100%;
    margin: 5px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
/*Media Queries*/
@media (min-width: 369px) {
    .contenedor-producto {
        width: 43%;
    }

    .enlace-producto {
        transition: box-shadow 500ms;
    }

    .contenedor-imagen {
        width: 100%;
        height: 160px;
    }

    /*Pseudoclases*/
    .enlace-producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        /*
        .descripcion{
            opacity: 1;
        }*/
        /*
        .menu-articulo i{
            animation: camion 2s 1;
        }*/
    }
}
@media (min-width: 769px){
    .contenedor-producto {
        width: 30%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 180px;
    }
}
@media (min-width: 1050px){
    .contenedor-producto {
        width: 30%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 260px;
    }
}