/*Estilos generales*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Aplicando estilos al header*/
header {
    background-color: #ebebeb;
}

/*Aplicando estilos al main*/


/*Aplicando estilos al footer*/

