* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 20px
}

.titulo-seccion {
    margin: 15px;
    color: #4e4e4e;
}

.contenedor-producto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #f2f1f1;
    /*
    box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.62);
-webkit-box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.62);*/
}

.contenedor-articulos {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.imagen-producto {
    width: 100%;
    height: 100%;
}

.detalle-producto {
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

.enlace-producto {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

/*Media Queries*/
@media (min-width: 361px) {
    .contenedor-producto {
        width: 43%;     
        transition: box-shadow 500ms;
        height: 100%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 160px;
    }
    /*Pseudoclases*/
    .contenedor-producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        /*
        .descripcion{
            opacity: 1;
        }*/
        /*
        .menu-articulo i{
            animation: camion 2s 1;
        }*/
    }
}
@media (min-width: 769px){
    .contenedor-producto {
        width: 30%;
        height: 100%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 160px;
    }
}
@media (min-width: 1050px){
    .contenedor-producto {
        width: 30%;
        height: 100%;
    }
    .contenedor-imagen {
        width: 100%;
        height: 260px;
    }
}